@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}

/* variables  */
:root {
    --main-color: #ff2c1f;
    --text-color: #020307;
    --bg-color: #fff;
}

body {
	display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--text-color);
    color: var(--bg-color);
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 100px;
    transition: 0.5s;
}

header.shadow {
    background: var(--bg-color);
    box-shadow: 0 0 4px rgb(14 55 54/15%);
}

header.shadow .navbar a {
    color: var(--text-color);
}

header.shadow .logo {
    color: var(--text-color);
}
header .messages {
    position: fixed;
    top: 15px;
    right: 15px;
    
    border-radius: 5px;
}

header .messages .success {
    background-color: rgba(0,255,0,0.5);
    padding: 15px;
    color: white;
}
main {
	flex: 1;
    padding-top: 80px;
}

.logo {
    font-size: 1.1rem;
    font-weight: 600;
    align-items: center;
    color: var(--bg-color);
    display: flex;
    column-gap: 0.5rem;
}

.logo-img {
    width: 30px;
    height: auto; 
    max-width: 100%;
}

.bx {
    color: var(--main-color);
}

.navbar {
    display: flex;
    column-gap: 5rem;
}

.navbar li {
    position: relative;
}

.navbar a {
    font-size: 1rem;
    font-weight: 500;
    color: var(--bg-color);
}

.navbar a::after {
    content: '';
    width: 0;
    height: 2px;
    background: var(--main-color);
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.4s all linear;
}

.navbar a:hover::after,
.navbar .home-active::after {
    width: 100%;
}

#menu-icon {
    font-size: 24px;
    cursor: pointer;
    z-index: 1000001;
    display: none;
}

.btn {
    padding: 0.7rem 1.4rem;
    background: var(--main-color);
    color: var(--bg-color);
    font-weight: 400;
    border-radius: 0.5rem;
}

.btn:hover {
    background: #fa1216;
}

.footer-container {
    width: 100%;
    margin-top: auto;
}

.footer {
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

.social {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.social .bx {
    background: var(--bg-color);
    padding: 2px;
    font-size: 2rem;
    border-radius: 50%;
    border: 4px solid rgb(2, 3, 7,0.4);
    color: var(--main-color);
}

.social .bx:hover {
    background: var(--main-color);
    color: var(--bg-color);
    transition: 0.2s all linear;
}

.copyright {
    padding: 20px;
    text-align: center;
    color: var(--bg-color);
}

/* responsive  */
@media (max-width: 1080px) {
    .home-text {
        padding: 0 100px;
    }
}

@media (max-width: 991px) {
    header {
        padding: 18px 4%;
    }

    .home-text {
        padding: 0 4%;
    }

    .home-text h1 {
        font-size: 3rem;
    }
}

@media (max-width: 774px) {
    header {
        padding: 12px 4%;
    }

    #menu-icon {
        display: initial;
        color: var(--bg-color);
    }

    header.shadow #menu-icon {
        color: var(--text-color);
    }

    .navbar {
        position: absolute;
        top: -570px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: var(--bg-color);
        row-gap: 1.4rem;
        padding: 20px;
        box-shadow: 4px 4px 0 4px rgb(14 55 54/15%);
        transition: 0.2s all linear;
        text-align: center;
        width: 100%;
    }

    .navbar a {
        color: var(--text-color);
    }

    .navbar a:hover {
        color: var(--main-color);
        border-bottom: 1px solid var(--main-color);
    }

    .navbar a::after {
        display: none;
    }

    .navbar.active {
        top: 100%;
    }

    .home-text h1 {
        font-size: 2.4rem;
    }

    .btn {
        padding: 0.6rem 1.2rem;
    }
}

@media (max-width: 472px) {

    .footer {
        flex-direction: column;
        align-items: center;
        row-gap: 1rem;
    }

    .container {
        width: 100%;
        min-height: 500px;
    }

    header {
        padding: 6px 4%;
    }

    .home-text h1 {
        font-size: 1.7rem;
    }

    .bx {
        padding: 7px;
    }


}
