/* Home  */
section {
    padding: 4.5rem 0 1.5rem;
}

.container {
    width: 100%;
    min-height: 640px;
    position: relative;
    display: flex;
    align-items: center;
    background: rgb(2, 3, 7, 0.5);
}

.container img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
}

.swiper-pagination-bullet {
    width: 6px !important;
    height: 6px !important;
    border-radius: 0.2rem !important;
    background: var(--bg-color) !important;
    opacity: 1 !important;
}

.swiper-pagination-bullet-active {
    width: 1.5rem !important;
    background: var(--main-color) !important;
}

.home-text {
    z-index: 1000;
    padding: 0 150px;
}

.home-text span {
    color: var(--bg-color);
    font-weight: 500;
    text-transform: uppercase;
}

.home-text h1 {
    color: var(--bg-color);
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

/* movies  */
.heading {
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    border-bottom: 1px solid var(--main-color);
}

.movies-container {
    max-width: 968px;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, auto));
    gap: 1rem;
    margin-top: 2rem;
}

.box .box-img {
    width: 100%;
    height: 270px;
    cursor: pointer;
}

.box .box-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box .box-img img:hover {
    transform: translateY(-10px);
    transition: 0.2s all linear;
}

.box h3 {
    font-size: 0.9rem;
    font-weight: 500;
}

.box span {
    font-size: 14px;
}


/* coming container  */
.coming-container {
    display: grid;
    gap: 1rem;
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}

.coming-container .box img:hover {
    transform: translateY(0);
}

.coming-container .box img {
    border-radius: 15px;
}

/* newsletter  */
.newsletter {
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 2rem;
}

.newsletter h2 {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
}

.newsletter form {
    background: var(--bg-color);
    padding: 10px;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
}

.newsletter form input {
    border: none;
    outline: none;
}

.email {
    width: 280px;
}

.newsletter form input::placeholder {
    color: var(--text-color);
    font-size: 0.8rem;
    font-weight: 400;
}

.newsletter .btn {
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
}

