{% extends 'webadmin/base.html' %}

{% load static %}

{% block titulo %}
    Página de Administracion de Biblioteca Digital de Películas
{% endblock titulo %}

{% block content %}

{% include './includes/header.html' %}


<h2 class="cell large-8" style="font-size: 15 px; text-align: left;">Archivos Disponibles</h2>

<div class="cell large-7">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>

      <li><a href="{% url 'webadmin_app:opciones_tabla' %}">Actores</a></li>
      <li><a href="{% url 'webadmin_app:opciones_tabla' %}">Directores</a></li>
      <li><a href="{% url 'webadmin_app:opciones_tabla' %}">Generos</a></li>
      <li><a href="{% url 'webadmin_app:index' %}">Volver</a></li>        
    </ul>    
  </div>
</div>



<!-- fin de bloque de bienvenida -->


{% endblock content %}