{% extends "web/base_admin.html" %}
{% load static %}

{% block titulo %}Agregar Pelicula{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'web/css/agregar_pelicula.css' %}">
{% endblock %}

{% block content %}
	<div class="centered">
		<h1 class="heading">Agregar Película</h1>
		<form method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<div class="form-group">
			<label for="id_TituloPelicula">Título:</label>
			{{ form.TituloPelicula }}
		</div>
		<div class="form-group">
			<label for="id_Director">Director:</label>
			{{ form.Director }}
		</div>
		<div class="form-group">
			<label for="id_Genero">Género:</label>
			{{ form.Genero }}
		</div>
		<div class="form-group">
			<label for="id_AnioLanzamiento">Año de Lanzamiento:</label>
			{{ form.AnioLanzamiento }}
		</div>
		<div class="form-group">
			<label for="id_Duracion">Duración:</label>
			{{ form.Duracion }}
		</div>
		<div class="form-group">
			<label for="id_PrecioAlquiler">Precio Alquiler:</label>
			{{ form.PrecioAlquiler }}
		</div>
		<div class="form-group">
			<label for="id_Disponibilidad">Disponibilidad:</label>
			{{ form.Disponibilidad }}
		</div>
		<div class="form-group">
			<label for="id_URLCartel">Poster:</label>
			{{ form.URLCartel }}
		</div>
		<button type="submit" class="btn">Agregar</button>
	</form>
	</div>
{% endblock %}