<!-- web/templates/web/base_admin.html -->

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CineMania{% endblock %}</title>
	<link rel="shortcut icon" href="{% static 'web/img/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'web/css/base.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
	{% block extra_css %}{% endblock %}
</head>
<body>
    <!-- Navbar  -->
    <header>
        <a href="{% url 'index' %}" class="logo">
            <img src="{% static 'web/img/logo-Cinemania.png' %}" alt="Logo CineMania" class="logo-img">CineMania
        </a>
        <div class="bx bx-menu" id="menu-icon"></div>

        <!-- menu  -->
        <ul class="navbar">
            <li><a href="{% url 'admin' %}" class="home-active">Inicio</a></li>
            <li><a href="{% url 'lista_peliculas_admin' %}">Lista de Peliculas</a></li>
			<li><a href="{% url 'lista_directores' %}">Lista de Directores</a></li>
			<li><a href="{% url 'lista_generos' %}">Lista de Géneros</a></li>
            <li><a href="{% url 'agregar_pelicula' %}">Agregar Película</a></li>
        </ul>
        <a href="#" class="btn">Login</a>
		{% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li {% if message.tags %} class="{{message.tags}}" {%endif%}> {{message}}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </header>
	<main>
    <!-- Contenido de la página -->
    {% block content %}{% endblock %}
	</main>

    <!-- Copyright  -->
    <div class="copyright">
        <p>&#169; Codo a codo 2024 - Todos los derechos reservados</p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="{% static 'web/js/web.js' %}"></script>
	{% block extra_js %}{% endblock %}
</body>
</html>
