<!-- web/templates/web/index.html -->
{% extends 'web/base.html' %}
{% load static %}
{% block title %}CineMania{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'web/css/index.css' %}">
{% endblock %}

{% block content %}

<!-- Home -->
<section class="home swiper" id="home">
    <div class="swiper-wrapper">
        <div class="swiper-slide container">
            <img src="{% static 'web/img/home1.jpg' %}" alt="">
            <div class="home-text">
                <span>Marvel Universe</span>
                <h1>Guardians of the Galaxy <br>Volume 2</h1>
            </div>
        </div>
        <div class="swiper-slide container">
            <img src="{% static 'web/img/home2.png' %}" alt="">
            <div class="home-text">
                <span>Marvel Universe</span>
                <h1>Thor: <br>Love and Thunder</h1>         
            </div>
        </div>
        <div class="swiper-slide container">
            <img src="{% static 'web/img/home3.jpg' %}" alt="">
            <div class="home-text">
                <span>Marvel Universe</span>
                <h1>Spider-Man <br>No Way Home</h1>     
            </div>
        </div>
        <div class="swiper-slide container">
            <img src="{% static 'web/img/home4.png' %}" alt="">
            <div class="home-text">
                <span>Marvel Universe</span>
                <h1>Avengers: <br>End Game</h1>             
            </div>
        </div>
    </div>
    <div class="swiper-pagination"></div>
</section>

<!-- Movies -->
<div class="movies" id="movies">
    <h2 class="heading">Lo último de esta semana</h2>
    <div class="movies-container">
        {% for pelicula in peliculas_recientes %}
            <div class="box">
                <div class="box-img">
                    <img src="{{ pelicula.URLCartel.url }}" alt="{{ pelicula.TituloPelicula }}">
                </div>
                <h3>{{ pelicula.TituloPelicula }}</h3>
                <span>{{ pelicula.Duracion }} min | {{ pelicula.Genero.DescripcionGenero }}</span>
            </div>
        {% empty %}
            <p>No hay películas recientes este año.</p>
        {% endfor %}
    </div>
    <div class="show-more">
        <a href="{% url 'listar_peliculas' %}" class="btn">Mostrar más</a>
    </div>
</div>

<!-- Coming Soon -->
<section class="coming" id="coming">
    <h2 class="heading">Muy Pronto</h2>
    <div class="coming-container swiper">
		<div class="swiper-wrapper">
			<div class="swiper-slide box">
				<div class="box-img">
					<img src="{% static 'web/img/c1.jpg' %}" alt="">
				</div>
			</div>
			<div class="swiper-slide box">
				<div class="box-img">
					<img src="{% static 'web/img/c2.jpg' %}" alt="">
				</div>
			</div>
			<div class="swiper-slide box">
				<div class="box-img">
					<img src="{% static 'web/img/c3.jpg' %}" alt="">
				</div>
			</div>
			<div class="swiper-slide box">
				<div class="box-img">
					<img src="{% static 'web/img/c4.jpg' %}" alt="">
				</div>
			</div>
			<div class="swiper-slide box">
				<div class="box-img">
					<img src="{% static 'web/img/c5.jpg' %}" alt="">
				</div>
			</div>
			<div class="swiper-slide box">
				<div class="box-img">
					<img src="{% static 'web/img/c6.jpg' %}" alt="">
				</div>
			</div>
			<div class="swiper-slide box">
				<div class="box-img">
					<img src="{% static 'web/img/c7.jpg' %}" alt="">
				</div>
			</div>
			<div class="swiper-slide box">
				<div class="box-img">
					<img src="{% static 'web/img/c8.jpg' %}" alt="">
				</div>
			</div>
			<div class="swiper-slide box">
				<div class="box-img">
					<img src="{% static 'web/img/c9.png' %}" alt="">
				</div>
			</div>
			<div class="swiper-slide box">
				<div class="box-img">
					<img src="{% static 'web/img/c10.jpg' %}" alt="">
				</div>
			</div>
		</div>
    </div>
</section>

<!-- Newsletter  -->
<section class="newsletter" id="newsletter">
    <h2>¡Prepárate para una maratón de películas!<br>Suscríbete ya</h2>
    <form action="">
        <input type="email" class="email" placeholder="Ingresar Email" required>
        <input type="submit" value="Suscribirme" class="btn">
    </form>
</section>


{% endblock %}
