{% extends "web/base.html" %}
{% load static %}

{% block titulo %}Agregar Pelicula{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'web/css/lista_clientes.css' %}">
{% endblock %}

{% block content %}
	<div>
		<h1 class="heading">Mis Películas Alquiladas</h1>
        <div class="centered">
            {% if alquileres %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>Película</th>
                            <th>Fecha de Inicio</th>
                            <th>Fecha de Finalización</th>
                            <th>Precio Total</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for alquiler in alquileres %}
                            <tr>
                                <td>{{ alquiler.Pelicula_id.TituloPelicula }}</td>
                                <td>{{ alquiler.FechaInicio }}</td>
                                <td>{{ alquiler.FechaFin }}</td>
                                <td>{{ alquiler.PrecioTotal }}</td>
                                <td>{{ alquiler.Estado|yesno:"Activo,Finalizado" }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No hay alquileres registrados.</p>
            {% endif %}
        </div>
        <div class="centered">
            <a href="{% url 'listar_peliculas' %}" class="btn btn-primary">Alquilar más</a>
        </div>
	</div>
{% endblock %}