{% extends "web/base_admin.html" %}
{% load static %}

{% block titulo %}Lista de Géneros{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'web/css/lista_directores.css' %}">
{% endblock %}

{% block content %}
	
		<h1 class="heading">Lista de Géneros</h1>
		<div class="centered">
			{% if generos %}
				<ul class="lista-container">
					{% for genero in generos %}
						<li class="elemento">{{ genero.DescripcionGenero }}</li>
					{% endfor %}
				</ul>
			{% else %}
				<p>No hay géneros disponibles.</p>
			{% endif %}
			<div class="button-container">
				<a href="{% url 'agregar_genero' %}" class="btn">Agregar Género</a>
			</div>
		</div>
{% endblock %}