{% extends "web/base.html" %}
{% load static %}

{% block titulo %}Lista de Directores{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'web/css/lista_directores.css' %}">
{% endblock %}

{% block content %}
	<div>
		<h1 class="heading">Lista de Directores</h1>
		<div class="centered">
		{% if directores %}
			<ul class="lista-container">
				{% for director in directores %}
					<li class="elemento">{{ director.NombreDirector }}</li>
				{% endfor %}
			</ul>
		{% else %}
			<p>No hay directores disponibles.</p>
		{% endif %}
		<div class="button-container">
			<a href="{% url 'agregar_director' %}" class="btn">Agregar Director</a>
		</div>
		</div>
	</div>
{% endblock %}