{% extends "web/base.html" %}
{% load static %}

{% block title %}Modificar Película{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'web/css/agregar_pelicula.css' %}">
{% endblock %}

{% block content %}
    <h1 class="heading">Modificar Película: {{ pelicula.TituloPelicula | upper}}</h1>
	<div class="centered">
		<form method="post" enctype="multipart/form-data">
			{% csrf_token %}
			{{ form.as_p }}
			<button type="submit" class="btn">Guardar cambios</button>
		</form>
	</div>
{% endblock %}
