{% extends "web/base.html" %}

{% load static %}

{% block title %}Películas{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'web/css/lista_peliculas.css' %}">
{% endblock %}

{% block content %}
	<div class="movies" id="movies">
		<h1 class="heading">Películas</h1>
		<div class="movies-container">
			{% if peliculas %}
				{% for pelicula in peliculas %}
					<div class="box">
						<div class="box-img">
							<img src="{{ pelicula.URLCartel.url }}" alt="{{ pelicula.TituloPelicula }}">
						</div>
						<h3>{{ pelicula.TituloPelicula }}</h3>
						<span>{{ pelicula.Duracion }} min | {{ pelicula.Genero.DescripcionGenero }}</span>
						<span>Dirigida por {{ pelicula.Director }}</span>
						<p class="{% if pelicula.Disponibilidad %}disponible{% else %}no-disponible{% endif %}">
							{{ pelicula.Disponibilidad|yesno:"Disponible,No Disponible" }}
						</p>
						<div class="button-container">
							{% if user.is_authenticated %}
								{% if user.is_staff %}
									<!-- administradores -->
									<a href="{% url 'modificar_pelicula' pelicula.id %}" class="btn">Modificar</a>
									<a href="{% url 'eliminar_pelicula' pelicula.id %}" class="btn">Eliminar</a>
								{% else %}
									<!-- clientes autenticados -->
									<a href="{% url 'alquilar_pelicula' pelicula.id %}" class="btn">Alquilar</a>
								{% endif %}
							{% else %}
								<!-- usuarios no autenticados -->
								<a href="{% url 'alquilar_pelicula' pelicula.id %}" class="btn">Alquilar</a>
							{% endif %}
						</div>
					</div>
				{% endfor %}
			{% else %}
				<h1>No hay registros de peliculas</h1>
			{% endif %}
		</div>
	</div>
{% endblock %}

