{% extends "web/base.html" %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'web/css/login.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/agregar_pelicula.css' %}">
{% endblock %}

{% block navbar %}
<!-- No navbar -->
{% endblock %}

{% block content %}
    <a href="{% url 'index' %}" class="logo centered">
        <img src="{% static 'web/img/logo-Cinemania.png' %}" alt="Logo CineMania" class="logo-img">CineMania
    </a>
    <h1 class="heading">Registrarse</h1>
    <div class="centered">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="acceso">
                <button type="submit" class="btn">Registrarse</button>
                <a href="{% url 'login' %}">¿Ya tienes una cuenta?</a>
            </div>
        </form>
    </div>
    
{% endblock %}

{% block footer %}
<!-- No footer -->
{% endblock %}